/*
 * css produced from source in app/scss/
 * do: scss --watch app/scss/:app/webroot/css/
 */
$back_color:           #633;
$pale_back_color:      #996666;
$header_a_color:       #fff;
$message_border_color: #000;
$message_bg_color:     #fff4f4;
$weak_text_color:      #666;
$dummy_back_color:     #eee;
$note_bg_color:        #ffcccc;

$nav_bg_color:        #500;
$nav_hover_color:     #900;
$nav_bg_msg_color:    #3D0000;

// status colours
$color_status_unknown:   #dddddd; 
$color_status_available: #ddffdd;
$color_status_locked:    #ffdddd;
$color_status_assigned:  #f8c75e;
$color_status_hidden:    #ade0ed;
$color_status_pending:   #f0f066;
$color_status_pending_2: #eddd9d; // message sent, but gateway still hasn't delivered
$color_status_sent:      #66cc33;
$color_status_error:     #ee6666;

$color_reply_bg:         #cccccc;
$color_bg_reply_0:       #E8E8E8;
$color_bg_reply_1:       #DEDEDE;
$color_bg_reply_2:       #D6D6D6;
$color_bg_reply_3:       #D1D1D1;
$color_bg_reply_4:       #C9C9C9;
$color_bg_reply_5:       #BFBFBF;
$color_bg_reply_6:       #B8B8B8;

// lazy "cobrands" here for personal use

body, 
body.cobrand-default {
  background-color: $back_color;
  border-top:3px solid #3D1F1F;
  line-height: 1.4em;

  &.cobrand-localhost {
    background-color: #803300;
    border-top:3px solid #FF6600;
  }

  &.cobrand-production {
    background-color: #330000;
    border-top:3px solid #cc0000;
  }
  
  &.cobrand-staging {
    background-color: #1F1F5C;
    border-top:3px solid #4D4DB8;
  }
  
}

#container {
  h2, h3, h4 {
    color: $back_color;
  }
  h4 {
    font-size: 110%;
    font-weight: bold;
  }
  #header {
    text-align: right;
    h1 {
      background-color: inherit;
      background-image: none;
      padding: 4px 0;
      float: left;
      font-size: 1.2em;
      font-weight: bold;
      a {
        background-color:inherit;
        font-weight: inherit;
      }
    }
    ul {
      list-style-type: none;
      li {
        display: inline;
        margin: 0;
        padding: 4px 1em 4px 0;
      }
    }
    #header-nav {
      clear: both;
      text-align: left;
      margin-left:0;
      ul {
        line-height: 2.0em;
        margin: 8px 0 0 0;
        li {
          margin: 8px 0 0 0;
          width: auto;
          padding-right: 0px;
          a {
            background-color: $nav_bg_color;
            margin-right:0;
            &:hover {
              background-color: $nav_hover_color;
            }
          }
          &.msg-link a {
            background-color: $nav_bg_msg_color;
            &:hover {
              background-color: $nav_hover_color;
            }
          }
        }
      }
    }
    a {
      color: #fff;
      margin-right: 0.5em;
      padding: 4px;
      text-decoration: none;
      &:hover {
        background-color:$pale_back_color;
      }
    }
  }
  a.no-decoration {
    text-decoration: none;
  }
  dl {
    width: 100%;
    line-height: 2em;
    p, li {
      line-height: 1.4em;
      padding-top: 0.2em;
    }
  }
  h3, h4 {
    margin-top: 1.25em;
  }
  .home-block {
    h3, h4 {
      margin-top: 0em;
    }
  }
  .mm-page {
   margin: 2em;
    ul {
      margin-bottom: 1.2em;
    }
    pre {
      line-height: 1.4em;
      margin-bottom: 1.2em;
    }
    td {
      line-height: 1.4em;
    }
  }
  .message-text, .note-text {
    border:1px solid $message_border_color;
    padding: 1em;
    background-color: $message_bg_color;
    font-weight: bold;
    min-height: 2em;
  }
  .note-text {
    background-color: $note_bg_color;
  }
  tr.message-reply {
    background-color: $color_reply_bg;
    td.message-reply {
      padding-left: 2em;
    }
  }
  p.footnote  {
    font-size: 80%;
    margin-top:2em;
    padding-top: 1em;
  }
  p.pagination-legend {
    font-size:80%;
    color: $weak_text_color;
    padding-top:0.5em;
  }
  .mm-messages {
    .status-unknown   {background-color: $color_status_unknown }
    .status-available {background-color: $color_status_available }
    .status-locked    {background-color: $color_status_locked }
    .status-unlocked  {background-color: inherit }
    .status-assigned  {background-color: $color_status_assigned }
    .status-hidden    {background-color: $color_status_hidden }
    .status-pending   {background-color: $color_status_pending }
    .status-sent_pending {background-color: $color_status_pending_2}
    .status-sent_fail,
    .status-error     {background-color: $color_status_error }
    .status-sent,
    .status-sent_ok,
    .status-sent_unknown {background-color: $color_status_sent }
    dd {
      padding-left: 4px;
    }
    .reply-0 {padding-left:4px;   background-color: $color_bg_reply_0;}
    .reply-1 {padding-left:1.5em; background-color: $color_bg_reply_1;}
    .reply-2 {padding-left:3.0em; background-color: $color_bg_reply_2;}
    .reply-3 {padding-left:4.5em; background-color: $color_bg_reply_3;}
    .reply-4 {padding-left:6.0em; background-color: $color_bg_reply_4;}
    .reply-5 {padding-left:7.0em; background-color: $color_bg_reply_5;}
    .reply-6 {padding-left:8.0em; background-color: $color_bg_reply_6;}
    a.reply-link {
      width: 100%;
      display: block;
      text-decoration: none;
      color: black;
      &:hover {
        background-color: $nav_hover_color;
      }
      .message-sender {
        float:right;
        display: block;
        padding: 0 0.5em;
        border-left: 6px solid #fff;
      }
    }
  }
  .home-block, .mm-login-type {
    margin: 0 0 1.2em 0;
    padding: 0.5em;
    border:1px solid $weak_text_color;
    p {
      margin: 1em 0;
    }
    dl {
      width: 100%;
    }
  }
  .mm-login-type {
    background-color: $note_bg_color;
    p {margin: 1em;}
  }
  .inline-buttons {
    width: auto;
  }  
  #footer {
    a {
      color: #fff;
      margin-right: 0.5em;
      padding: 4px;
      text-decoration: none;
      &:hover {
        background-color:$pale_back_color;
      }
      &.mm-link {
        float: left
      }
      &.cake-link:hover {
        background-color: transparent;
      }
    }
  }
  // dirty bodging here to get the shorter fms-assign button on messages/view to play nicely
  #assign-fms-id-action { 
    div {
      padding: 0 0 0 8px;
    }
    .input.text {
      width: 3em;
      margin: 0;
      display: inline-block;
      label {
        display: none; 
      }
    }
    .submit {
      display: inline-block;
      padding:0;
      margin:0;
    }
    // following to force short button, yuck
    .submit input[type=submit] {
      width: 7em;
      font-weight: normal;
      font-size: 96%;
      padding: 4px 8px 4px 0;
      background: gainsboro;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#FEFEFE), to(gainsboro));
      background-image: -webkit-linear-gradient(top, #FEFEFE, gainsboro);
      background-image: -moz-linear-gradient(top, #FEFEFE, gainsboro);
      background-image: -ms-linear-gradient(top, #FEFEFE, gainsboro);
      background-image: -o-linear-gradient(top, #FEFEFE, gainsboro);
      background-image: linear-gradient(top, #FEFEFE, gainsboro);
      color: #333;
      border: 1px solid #BBB;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      text-decoration: none;
      text-shadow: white 0px 1px 0px;
      min-width: 0;
      -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
      -webkit-user-select: none;
      user-select: none;
    }
  }
  
  div.mm-string-choices, div.mm-action-choices {
    float: right;
    a {
      display: inline-block;
      padding: 0.2em 0.5em;
      border: 1px solid $pale_back_color;
      margin: 4px 8px 4px 0;
      &:hover {
        background-color: $dummy_back_color;
      }
    }
    margin-bottom: 2em;
  }
  div.mm-string-choices {
    display: none; //  revealed by jquery only if they're enabled
    margin-bottom: -2em; // grotesque bodge
  }
  
  
  // dummy client is for testing/playing 
  .dummy-client {
    border:1px solid $back_color;
    margin: 1em 1em 0.2em 0;
    padding: 0.5em;
    background-color: $dummy_back_color;
    width: 44%; 
    float: left;
    min-width: 300px;
    h3, h4 {
      margin-top: 0em;
    }
    #mm-username {
      float: right;
      span {
        font-weight: bold;
      }
    }
    
    #mm-message-list {
			/*
			ul > li > ul.mm-reply-thread {
				display: none;
			}
			*/
  		ul {
  			list-style-type: none;
  			padding: 0;
  			margin: 0;
  			li, ul.mm-reply-thread li {
  				position: relative;
  				clear: both;
  				margin: 4px 0 0 0;
  				padding: 0;
  				cursor: pointer;
  				background-color: #F6F6F6;
  				p {
  					background-color: inherit;
  					margin: 0.25em 0 0 0;
  					padding: 0.5em 1em;
	  				&:hover { background-color: #efe;}
						.msg-info-box {
							font-style: italic;
							color: #666;
							border-top: 1px dashed #666;
							padding:4px 0 0 0;
							margin: 4px 0 0 0;
							display: none;
						}
  				}
					ul.mm-reply-thread {
						li {
							margin:0;
						}
						.mm-reply {
							background-color: #ccc;
							&:hover {background-color: #eef;}
						}
						.mm-reply-0 { margin-left: 0em; background-color: $color_bg_reply_0;}
						.mm-reply-1 { margin-left: 1em; background-color: $color_bg_reply_1;}
						.mm-reply-2 { margin-left: 2em; background-color: $color_bg_reply_2;}
						.mm-reply-3 { margin-left: 3em; background-color: $color_bg_reply_3;}
						.mm-reply-4 { margin-left: 4em; background-color: $color_bg_reply_4;}
						.mm-reply-5 { margin-left: 5em; background-color: $color_bg_reply_5;}
						.mm-reply-6 { margin-left: 6em; background-color: $color_bg_reply_6;}
					}
  				&.msg-is-locked { background-color: #fdd;}
  				&.msg-is-owned { background-color: #dfd;}
  				&.msg-is-busy { background-color: #ffd;}
  				span.msg-tag {
  					width: 3em;
  					float:left;
  				}
  				input[type=radio] {
  					display: block;
  					position: absolute; /* ugh. "float:left"" here worked on FMS, but can't replicate in MM, life too short */
  					top: 4px;
  					left: 3em;
  				}
  				label, span.msg-text {
  					display: block;
  					font-weight: normal;
  					margin: 0.1em 0 0.1em 4.5em;
						cursor: pointer;
  				}
					.mm-msg-action {
						display: none;
						padding: 0.2em 0.4em;
						color: white;
						text-align: center;
						position: absolute;
						top: 0;
						&:hover { background-color: black;}
					}
					.mm-hide {
						right:0px;
						background-color: red;
						text-decoration: none;
					}
					.mm-info {
						right:1.5em;
						background-color: blue;
					}
					.mm-rep {
						right:2.6em;
						background-color: green;
						text-decoration: none;
					}
					.mm-detach {
						right:6.0em;
						background-color: orange;
						text-decoration: none;
					}
  			}
  		}
  	}
    #mm-login-container {
      display: none; // only shown onafter a 403
      border: 1px solid $weak_text_color;
      padding: 1em;
      margin: 1em;
    }
    #reply-form-container {
      display:none;    
      #reply-form{
        margin-top: 2em;
        border: 1px solid $weak_text_color;
        background-color: #ffdddd;
      }
		  #mm-boilerplate-replies-box {
	      overflow: hidden;
	      display: none;
	    }
    }
    #hide-form-container, #detach-form-container {
      display: none;
    }
    #hide-form-container  {
      #hide-form{
        margin-top: 2em;
        border: 1px solid $weak_text_color;
        background-color: #ffdddd;
      }
	    #mm-boilerplate-hide-reasons-box {
	      overflow: hidden;
	      display: none;
	    }
    }
    #assign-fms-container {
      margin-top: 2em;
      padding-top: 1em;
      border-top: 1px solid $weak_text_color;
      div, form {
        float: left;
        clear: none;
        padding: 4px;;
        margin: 0px;
      }
      form {
        padding:0;
        width: auto;
      }
      input[type=text] {
        width: 5em;
      }
      input[type=submit] {
        margin-top:1em;
      }
    }
    #mm-status-message-container {
      position: relative;
      min-height: 1.4em;
      margin: 0 0 8px 0.5em;
      padding: 8px 4px 8px 24px;
      border: 1px solid #a99;
      background-color: #fcfcfc;
      color: #caa;
      font-style: italic;
      p {
        margin:0;
        padding:0;
      }
      #mm-spinner {
        position: absolute;
        left: 4px;
        top: 10px;
        display: none;
      }
    }
  }
}
.fancybox-popup {
  color: black;
  p {
    margin: 1em 2em;
  }
}

.cake-sql-log {
  margin-top:2em;
  background-color:$pale_back_color;
  caption {
    color: $pale_back_color;
  }
}

