/*
 * css produced from source in app/scss/
 * do: scss --watch /path/app/scss/:/path/app/webroot/css/
 */
$back_color:           #633;
$pale_back_color:      #a99;
$header_a_color:       #fff;
$message_border_color: #000;
$message_bg_color:     #fff4f4;
$weak_text_color:      #666;
$dummy_back_color:     #eee;
$note_bg_color:        #ffcccc;

$nav_bg_color:        #500;
$nav_hover_color:     #a99;

// status colours
$color_status_unknown:   #dddddd; 
$color_status_available: #ddffdd;
$color_status_locked:    #ffdddd;
$color_status_assigned:  #f8c75e;
$color_status_hidden:    #ade0ed;
$color_status_pending:   #f0f066;
$color_status_sent:      #66cc33;
$color_status_error:     #ee6666;

$color_reply_bg:         #cccccc;
$color_bg_reply_0:       #E8E8E8;
$color_bg_reply_1:       #DEDEDE;
$color_bg_reply_2:       #D6D6D6;
$color_bg_reply_3:       #D1D1D1;
$color_bg_reply_4:       #C9C9C9;
$color_bg_reply_5:       #BFBFBF;
$color_bg_reply_6:       #B8B8B8;

// installation-specific colors:
$color_bg_local:           #325;

body {
  background-color: $back_color;
  border-top:3px solid $back_color;
  line-height: 1.4em;

  &.site-local {
    background-color: $color_bg_local;
    border-top:3px solid yellow;
  }

}

#container {
  h2, h3, h4 {
    color: $back_color;
  }
  h4 {
    font-size: 110%;
    font-weight: bold;
  }
  #header {
    text-align: right;
    h1 {
      background-color: inherit;
      background-image: none;
      padding: 4px 0;
      float: left;
      font-size: 1.2em;
      font-weight: bold;
      a {
        background-color:inherit;
        font-weight: inherit;
      }
    }
    ul {
      list-style-type: none;
      li {
        display: inline;
        margin: 0;
        padding: 4px 1em 4px 0;
      }
    }
    #header-nav {
      clear: both;
      text-align: left;
      margin-left:0;
      ul {
        margin-left: 0;
        li {
          width: auto;
          padding-right: 0px;
          a {
            background-color: $nav_bg_color;
            margin-right:0;
            &:hover {
              background-color: $nav_hover_color;
            }
          }
        }
      }
    }
    a {
      color: #fff;
      margin-right: 0.5em;
      padding: 4px;
      text-decoration: none;
      &:hover {
        background-color:$pale_back_color;
      }
    }
  }
  a.no-decoration {
    text-decoration: none;
  }
  dl {
    width: 100%;
    line-height: 2em;
    p, li {
      line-height: 1.4em;
      padding-top: 0.2em;
    }
  }
  h3, h4 {
    margin-top: 1.25em;
  }
  .home-block {
    h3, h4 {
      margin-top: 0em;
    }
  }
  .mm-page {
   margin: 2em;
    ul {
      margin-bottom: 1.2em;
    }
    pre {
      line-height: 1.4em;
      margin-bottom: 1.2em;
    }
    td {
      line-height: 1.4em;
    }
  }
  .message-text, .note-text {
    border:1px solid $message_border_color;
    padding: 1em;
    background-color: $message_bg_color;
    font-weight: bold;
    min-height: 2em;
  }
  .note-text {
    background-color: $note_bg_color;
  }
  tr.message-reply {
    background-color: $color_reply_bg;
    td.message-reply {
      padding-left: 2em;
    }
  }
  p.footnote  {
    font-size: 80%;
    margin-top:2em;
    padding-top: 1em;
  }
  p.pagination-legend {
    font-size:80%;
    color: $weak_text_color;
    padding-top:0.5em;
  }
  .mm-messages {
    .status-unknown   {background-color: $color_status_unknown }
    .status-available {background-color: $color_status_available }
    .status-locked    {background-color: $color_status_locked }
    .status-unlocked  {background-color: inherit }
    .status-assigned  {background-color: $color_status_assigned }
    .status-hidden    {background-color: $color_status_hidden }
    .status-pending   {background-color: $color_status_pending }
    dd {
      padding-left: 4px;
    }
    .reply-0 {padding-left:4px;   background-color: $color_bg_reply_0;}
    .reply-1 {padding-left:1.5em; background-color: $color_bg_reply_1;}
    .reply-2 {padding-left:3.0em; background-color: $color_bg_reply_2;}
    .reply-3 {padding-left:4.5em; background-color: $color_bg_reply_3;}
    .reply-4 {padding-left:6.0em; background-color: $color_bg_reply_4;}
    .reply-5 {padding-left:7.0em; background-color: $color_bg_reply_5;}
    .reply-6 {padding-left:8.0em; background-color: $color_bg_reply_6;}
    a.reply-link {
      width: 100%;
      display: block;
      text-decoration: none;
      color: black;
      &:hover {
        background-color: red;
      }
      .message-sender {
        float:right;
        display: block;
        padding: 0 0.5em;
        border-left: 6px solid #fff;
      }
    }
  }
  .home-block {
    margin: 0 0 1.2em 0;
    padding: 0.5em;
    border:1px solid $weak_text_color;
    p {
      margin: 1em 0;
    }
    dl {
      width: 100%;
    }
  }
  .inline-buttons {
    width: auto;
  }
  
  #footer {
    a {
      color: #fff;
      margin-right: 0.5em;
      padding: 4px;
      text-decoration: none;
      &:hover {
        background-color:$pale_back_color;
      }
      &.mm-link {
        float: left
      }
      &.cake-link:hover {
        background-color: transparent;
      }
    }
  }
  // dirty bodging here to get the shorter fms-assign button on messages/view to play nicely
  #assign-fms-id-action { 
    div {
      padding: 0 0 0 8px;
    }
    .input.text {
      width: 3em;
      margin: 0;
      display: inline-block;
      label {
        display: none; 
      }
    }
    .submit {
      display: inline-block;
      padding:0;
      margin:0;
    }
    // following to force short button, yuck
    .submit input[type=submit] {
      width: 7em;
      font-weight: normal;
      font-size: 96%;
      padding: 4px 8px 4px 0;
      background: gainsboro;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#FEFEFE), to(gainsboro));
      background-image: -webkit-linear-gradient(top, #FEFEFE, gainsboro);
      background-image: -moz-linear-gradient(top, #FEFEFE, gainsboro);
      background-image: -ms-linear-gradient(top, #FEFEFE, gainsboro);
      background-image: -o-linear-gradient(top, #FEFEFE, gainsboro);
      background-image: linear-gradient(top, #FEFEFE, gainsboro);
      color: #333;
      border: 1px solid #BBB;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      text-decoration: none;
      text-shadow: white 0px 1px 0px;
      min-width: 0;
      -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
      -webkit-user-select: none;
      user-select: none;
    }
  }
  
  // dummy client is for testing/playing 
  .dummy-client {
    border:1px solid $back_color;
    margin: 1em 1em 0.2em 0;
    padding: 0.5em;
    background-color: $dummy_back_color;
    width: 44%; 
    float: left;
    min-width: 300px;
    h3, h4 {
      margin-top: 0em;
    }
    #mm-username {
      float: right;
      span {
        font-weight: bold;
      }
    }
    
    #mm-message-list {
  		ul {
  			list-style-type: none;
  			padding: 0;
  			margin: 0;
  			li {
  				position: relative;
  				clear: both;
  				margin: 4px 0 0 0;
  				padding: 0;
  				cursor: pointer;
  				background-color: #F6F6F6;
  				p {
  					background-color: inherit;
  					margin: 0.25em 0 0 0;
  					padding: 0.5em 1em;
  				}
  				&.msg-is-locked { background-color: #fdd;}
  				&.msg-is-owned { background-color: #dfd;}
  				&.msg-is-busy { background-color: #ffd;}
  				&:hover { background-color: #efe;}
  				span.msg-tag {
  					width: 3em;
  					float:left;
  				}
  				input[type=radio] {
  					display: block;
  					position: absolute; /* ugh. "float:left"" here worked on FMS, but can't replicate in MM, life too short */
  					top: 4px;
  					left: 3em;
  				}
  				label, span.msg-text {
  					display: block;
  					font-weight: normal;
  					margin: 0.1em 0 0.1em 4.5em;
  				}
  			}
  		}
  	}
  	
    #mm-login-container {
      display: none; // only shown onafter a 403
      border: 1px solid $weak_text_color;
      padding: 1em;
      margin: 1em;
    }
    #reply-form-container {
      display:none;    
      #reply-form{
        margin-top: 2em;
        border: 1px solid $weak_text_color;
        background-color: #ffdddd;
      }
    }
    #assign-fms-container {
      margin-top: 2em;
      padding-top: 1em;
      border-top: 1px solid $weak_text_color;
      div, form {
        float: left;
        clear: none;
        padding: 4px;;
        margin: 0px;
      }
      form {
        padding:0;
        width: auto;
      }
      input[type=text] {
        width: 5em;
      }
      input[type=submit] {
        margin-top:1em;
      }
    }
    #mm-status-message-container {
      min-height: 1.4em;
      margin: 0 0 8px 0;
      padding: 8px 4px;
      border: 1px solid #a99;
      background-color: #fcfcfc;
      color: #caa;
      font-style: italic;
    }
  }
  
}

.cake-sql-log {
  margin-top:2em;
  background-color:$pale_back_color;
  caption {
    color: $pale_back_color;
  }
}

