/*
 * css produced from source in app/scss/
 * do: scss --watch app/scss/:app/webroot/css/
 */
body,
body.cobrand-default {
  background-color: #663333;
  border-top: 3px solid #3D1F1F;
  line-height: 1.4em; }
  body.cobrand-localhost,
  body.cobrand-default.cobrand-localhost {
    background-color: #803300;
    border-top: 3px solid #FF6600; }
  body.cobrand-production,
  body.cobrand-default.cobrand-production {
    background-color: #330000;
    border-top: 3px solid #cc0000; }
  body.cobrand-staging,
  body.cobrand-default.cobrand-staging {
    background-color: #1F1F5C;
    border-top: 3px solid #4D4DB8; }

#container h2, #container h3, #container h4 {
  color: #663333; }
#container h4 {
  font-size: 110%;
  font-weight: bold; }
#container #header {
  text-align: right; }
  #container #header h1 {
    background-color: inherit;
    background-image: none;
    padding: 4px 0;
    float: left;
    font-size: 1.2em;
    font-weight: bold; }
    #container #header h1 a {
      background-color: inherit;
      font-weight: inherit; }
  #container #header ul {
    list-style-type: none; }
    #container #header ul li {
      display: inline;
      margin: 0;
      padding: 4px 1em 4px 0; }
  #container #header #header-nav {
    clear: both;
    text-align: left;
    margin-left: 0; }
    #container #header #header-nav ul {
      line-height: 2.0em;
      margin: 8px 0 0 0; }
      #container #header #header-nav ul li {
        margin: 8px 0 0 0;
        width: auto;
        padding-right: 0px; }
        #container #header #header-nav ul li a {
          background-color: #550000;
          margin-right: 0; }
          #container #header #header-nav ul li a:hover {
            background-color: #990000; }
        #container #header #header-nav ul li.msg-link a {
          background-color: #3d0000; }
          #container #header #header-nav ul li.msg-link a:hover {
            background-color: #990000; }
  #container #header a {
    color: #fff;
    margin-right: 0.5em;
    padding: 4px;
    text-decoration: none; }
    #container #header a:hover {
      background-color: #996666; }
#container a.no-decoration {
  text-decoration: none; }
#container dl {
  width: 100%;
  line-height: 2em; }
  #container dl p, #container dl li {
    line-height: 1.4em;
    padding-top: 0.2em; }
#container h3, #container h4 {
  margin-top: 1.25em; }
#container .home-block h3, #container .home-block h4 {
  margin-top: 0em; }
#container .mm-page {
  margin: 2em; }
  #container .mm-page ul {
    margin-bottom: 1.2em; }
  #container .mm-page pre {
    line-height: 1.4em;
    margin-bottom: 1.2em; }
  #container .mm-page td {
    line-height: 1.4em; }
#container .message-text, #container .note-text {
  border: 1px solid black;
  padding: 1em;
  background-color: #fff4f4;
  font-weight: bold;
  min-height: 2em; }
#container .note-text {
  background-color: #ffcccc; }
#container tr.message-reply {
  background-color: #cccccc; }
  #container tr.message-reply td.message-reply {
    padding-left: 2em; }
#container p.footnote {
  font-size: 80%;
  margin-top: 2em;
  padding-top: 1em; }
#container p.pagination-legend {
  font-size: 80%;
  color: #666666;
  padding-top: 0.5em; }
#container .mm-messages .status-unknown {
  background-color: #dddddd; }
#container .mm-messages .status-available {
  background-color: #ddffdd; }
#container .mm-messages .status-locked {
  background-color: #ffdddd; }
#container .mm-messages .status-unlocked {
  background-color: inherit; }
#container .mm-messages .status-assigned {
  background-color: #f8c75e; }
#container .mm-messages .status-hidden {
  background-color: #ade0ed; }
#container .mm-messages .status-pending {
  background-color: #f0f066; }
#container .mm-messages .status-sent_pending {
  background-color: #eddd9d; }
#container .mm-messages .status-sent_fail,
#container .mm-messages .status-error {
  background-color: #ee6666; }
#container .mm-messages .status-sent,
#container .mm-messages .status-sent_ok,
#container .mm-messages .status-sent_unknown {
  background-color: #66cc33; }
#container .mm-messages dd {
  padding-left: 4px; }
#container .mm-messages .reply-0 {
  padding-left: 4px;
  background-color: #e8e8e8; }
#container .mm-messages .reply-1 {
  padding-left: 1.5em;
  background-color: #dedede; }
#container .mm-messages .reply-2 {
  padding-left: 3.0em;
  background-color: #d6d6d6; }
#container .mm-messages .reply-3 {
  padding-left: 4.5em;
  background-color: #d1d1d1; }
#container .mm-messages .reply-4 {
  padding-left: 6.0em;
  background-color: #c9c9c9; }
#container .mm-messages .reply-5 {
  padding-left: 7.0em;
  background-color: #bfbfbf; }
#container .mm-messages .reply-6 {
  padding-left: 8.0em;
  background-color: #b8b8b8; }
#container .mm-messages a.reply-link {
  width: 100%;
  display: block;
  text-decoration: none;
  color: black; }
  #container .mm-messages a.reply-link:hover {
    background-color: #990000; }
  #container .mm-messages a.reply-link .message-sender {
    float: right;
    display: block;
    padding: 0 0.5em;
    border-left: 6px solid #fff; }
#container .home-block, #container .mm-login-type {
  margin: 0 0 1.2em 0;
  padding: 0.5em;
  border: 1px solid #666666; }
  #container .home-block p, #container .mm-login-type p {
    margin: 1em 0; }
  #container .home-block dl, #container .mm-login-type dl {
    width: 100%; }
#container .mm-login-type {
  background-color: #ffcccc; }
  #container .mm-login-type p {
    margin: 1em; }
#container .inline-buttons {
  width: auto; }
#container #footer a {
  color: #fff;
  margin-right: 0.5em;
  padding: 4px;
  text-decoration: none; }
  #container #footer a:hover {
    background-color: #996666; }
  #container #footer a.mm-link {
    float: left; }
  #container #footer a.cake-link:hover {
    background-color: transparent; }
#container #assign-fms-id-action div {
  padding: 0 0 0 8px; }
#container #assign-fms-id-action .input.text {
  width: 3em;
  margin: 0;
  display: inline-block; }
  #container #assign-fms-id-action .input.text label {
    display: none; }
#container #assign-fms-id-action .submit {
  display: inline-block;
  padding: 0;
  margin: 0; }
#container #assign-fms-id-action .submit input[type=submit] {
  width: 7em;
  font-weight: normal;
  font-size: 96%;
  padding: 4px 8px 4px 0;
  background: gainsboro;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(gainsboro));
  background-image: -webkit-linear-gradient(top, #fefefe, gainsboro);
  background-image: -moz-linear-gradient(top, #fefefe, gainsboro);
  background-image: -ms-linear-gradient(top, #fefefe, gainsboro);
  background-image: -o-linear-gradient(top, #fefefe, gainsboro);
  background-image: linear-gradient(top, #fefefe, gainsboro);
  color: #333;
  border: 1px solid #BBB;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-decoration: none;
  text-shadow: white 0px 1px 0px;
  min-width: 0;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-user-select: none;
  user-select: none; }
#container div.mm-string-choices, #container div.mm-action-choices {
  float: right;
  margin-bottom: 2em; }
  #container div.mm-string-choices a, #container div.mm-action-choices a {
    display: inline-block;
    padding: 0.2em 0.5em;
    border: 1px solid #996666;
    margin: 4px 8px 4px 0; }
    #container div.mm-string-choices a:hover, #container div.mm-action-choices a:hover {
      background-color: #eeeeee; }
#container div.mm-string-choices {
  display: none;
  margin-bottom: -2em; }
#container .dummy-client {
  border: 1px solid #663333;
  margin: 1em 1em 0.2em 0;
  padding: 0.5em;
  background-color: #eeeeee;
  width: 44%;
  float: left;
  min-width: 300px; }
  #container .dummy-client h3, #container .dummy-client h4 {
    margin-top: 0em; }
  #container .dummy-client #mm-username {
    float: right; }
    #container .dummy-client #mm-username span {
      font-weight: bold; }
  #container .dummy-client #mm-message-list {
    /*
    ul > li > ul.mm-reply-thread {
    	display: none;
    }
    */ }
    #container .dummy-client #mm-message-list ul {
      list-style-type: none;
      padding: 0;
      margin: 0; }
      #container .dummy-client #mm-message-list ul li, #container .dummy-client #mm-message-list ul ul.mm-reply-thread li {
        position: relative;
        clear: both;
        margin: 4px 0 0 0;
        padding: 0;
        cursor: pointer;
        background-color: #F6F6F6; }
        #container .dummy-client #mm-message-list ul li p, #container .dummy-client #mm-message-list ul ul.mm-reply-thread li p {
          background-color: inherit;
          margin: 0.25em 0 0 0;
          padding: 0.5em 1em; }
          #container .dummy-client #mm-message-list ul li p:hover, #container .dummy-client #mm-message-list ul ul.mm-reply-thread li p:hover {
            background-color: #efe; }
          #container .dummy-client #mm-message-list ul li p .msg-info-box, #container .dummy-client #mm-message-list ul ul.mm-reply-thread li p .msg-info-box {
            font-style: italic;
            color: #666;
            border-top: 1px dashed #666;
            padding: 4px 0 0 0;
            margin: 4px 0 0 0;
            display: none; }
        #container .dummy-client #mm-message-list ul li ul.mm-reply-thread li, #container .dummy-client #mm-message-list ul ul.mm-reply-thread li ul.mm-reply-thread li {
          margin: 0; }
        #container .dummy-client #mm-message-list ul li ul.mm-reply-thread .mm-reply, #container .dummy-client #mm-message-list ul ul.mm-reply-thread li ul.mm-reply-thread .mm-reply {
          background-color: #ccc; }
          #container .dummy-client #mm-message-list ul li ul.mm-reply-thread .mm-reply:hover, #container .dummy-client #mm-message-list ul ul.mm-reply-thread li ul.mm-reply-thread .mm-reply:hover {
            background-color: #eef; }
        #container .dummy-client #mm-message-list ul li ul.mm-reply-thread .mm-reply-0, #container .dummy-client #mm-message-list ul ul.mm-reply-thread li ul.mm-reply-thread .mm-reply-0 {
          margin-left: 0em;
          background-color: #e8e8e8; }
        #container .dummy-client #mm-message-list ul li ul.mm-reply-thread .mm-reply-1, #container .dummy-client #mm-message-list ul ul.mm-reply-thread li ul.mm-reply-thread .mm-reply-1 {
          margin-left: 1em;
          background-color: #dedede; }
        #container .dummy-client #mm-message-list ul li ul.mm-reply-thread .mm-reply-2, #container .dummy-client #mm-message-list ul ul.mm-reply-thread li ul.mm-reply-thread .mm-reply-2 {
          margin-left: 2em;
          background-color: #d6d6d6; }
        #container .dummy-client #mm-message-list ul li ul.mm-reply-thread .mm-reply-3, #container .dummy-client #mm-message-list ul ul.mm-reply-thread li ul.mm-reply-thread .mm-reply-3 {
          margin-left: 3em;
          background-color: #d1d1d1; }
        #container .dummy-client #mm-message-list ul li ul.mm-reply-thread .mm-reply-4, #container .dummy-client #mm-message-list ul ul.mm-reply-thread li ul.mm-reply-thread .mm-reply-4 {
          margin-left: 4em;
          background-color: #c9c9c9; }
        #container .dummy-client #mm-message-list ul li ul.mm-reply-thread .mm-reply-5, #container .dummy-client #mm-message-list ul ul.mm-reply-thread li ul.mm-reply-thread .mm-reply-5 {
          margin-left: 5em;
          background-color: #bfbfbf; }
        #container .dummy-client #mm-message-list ul li ul.mm-reply-thread .mm-reply-6, #container .dummy-client #mm-message-list ul ul.mm-reply-thread li ul.mm-reply-thread .mm-reply-6 {
          margin-left: 6em;
          background-color: #b8b8b8; }
        #container .dummy-client #mm-message-list ul li.msg-is-locked, #container .dummy-client #mm-message-list ul ul.mm-reply-thread li.msg-is-locked {
          background-color: #fdd; }
        #container .dummy-client #mm-message-list ul li.msg-is-owned, #container .dummy-client #mm-message-list ul ul.mm-reply-thread li.msg-is-owned {
          background-color: #dfd; }
        #container .dummy-client #mm-message-list ul li.msg-is-busy, #container .dummy-client #mm-message-list ul ul.mm-reply-thread li.msg-is-busy {
          background-color: #ffd; }
        #container .dummy-client #mm-message-list ul li span.msg-tag, #container .dummy-client #mm-message-list ul ul.mm-reply-thread li span.msg-tag {
          width: 3em;
          float: left; }
        #container .dummy-client #mm-message-list ul li input[type=radio], #container .dummy-client #mm-message-list ul ul.mm-reply-thread li input[type=radio] {
          display: block;
          position: absolute;
          /* ugh. "float:left"" here worked on FMS, but can't replicate in MM, life too short */
          top: 4px;
          left: 3em; }
        #container .dummy-client #mm-message-list ul li label, #container .dummy-client #mm-message-list ul li span.msg-text, #container .dummy-client #mm-message-list ul ul.mm-reply-thread li label, #container .dummy-client #mm-message-list ul ul.mm-reply-thread li span.msg-text {
          display: block;
          font-weight: normal;
          margin: 0.1em 0 0.1em 4.5em;
          cursor: pointer; }
        #container .dummy-client #mm-message-list ul li .mm-msg-action, #container .dummy-client #mm-message-list ul ul.mm-reply-thread li .mm-msg-action {
          display: none;
          padding: 0.2em 0.4em;
          color: white;
          text-align: center;
          position: absolute;
          top: 0; }
          #container .dummy-client #mm-message-list ul li .mm-msg-action:hover, #container .dummy-client #mm-message-list ul ul.mm-reply-thread li .mm-msg-action:hover {
            background-color: black; }
        #container .dummy-client #mm-message-list ul li .mm-hide, #container .dummy-client #mm-message-list ul ul.mm-reply-thread li .mm-hide {
          right: 0px;
          background-color: red;
          text-decoration: none; }
        #container .dummy-client #mm-message-list ul li .mm-info, #container .dummy-client #mm-message-list ul ul.mm-reply-thread li .mm-info {
          right: 1.5em;
          background-color: blue; }
        #container .dummy-client #mm-message-list ul li .mm-rep, #container .dummy-client #mm-message-list ul ul.mm-reply-thread li .mm-rep {
          right: 2.6em;
          background-color: green;
          text-decoration: none; }
        #container .dummy-client #mm-message-list ul li .mm-detach, #container .dummy-client #mm-message-list ul ul.mm-reply-thread li .mm-detach {
          right: 6.0em;
          background-color: orange;
          text-decoration: none; }
  #container .dummy-client #mm-login-container {
    display: none;
    border: 1px solid #666666;
    padding: 1em;
    margin: 1em; }
  #container .dummy-client #reply-form-container {
    display: none; }
    #container .dummy-client #reply-form-container #reply-form {
      margin-top: 2em;
      border: 1px solid #666666;
      background-color: #ffdddd; }
    #container .dummy-client #reply-form-container #mm-boilerplate-replies-box {
      overflow: hidden;
      display: none; }
  #container .dummy-client #hide-form-container, #container .dummy-client #detach-form-container {
    display: none; }
  #container .dummy-client #hide-form-container #hide-form {
    margin-top: 2em;
    border: 1px solid #666666;
    background-color: #ffdddd; }
  #container .dummy-client #hide-form-container #mm-boilerplate-hide-reasons-box {
    overflow: hidden;
    display: none; }
  #container .dummy-client #assign-fms-container {
    margin-top: 2em;
    padding-top: 1em;
    border-top: 1px solid #666666; }
    #container .dummy-client #assign-fms-container div, #container .dummy-client #assign-fms-container form {
      float: left;
      clear: none;
      padding: 4px;
      margin: 0px; }
    #container .dummy-client #assign-fms-container form {
      padding: 0;
      width: auto; }
    #container .dummy-client #assign-fms-container input[type=text] {
      width: 5em; }
    #container .dummy-client #assign-fms-container input[type=submit] {
      margin-top: 1em; }
  #container .dummy-client #mm-status-message-container {
    position: relative;
    min-height: 1.4em;
    margin: 0 0 8px 0.5em;
    padding: 8px 4px 8px 24px;
    border: 1px solid #a99;
    background-color: #fcfcfc;
    color: #caa;
    font-style: italic; }
    #container .dummy-client #mm-status-message-container p {
      margin: 0;
      padding: 0; }
    #container .dummy-client #mm-status-message-container #mm-spinner {
      position: absolute;
      left: 4px;
      top: 10px;
      display: none; }

.fancybox-popup {
  color: black; }
  .fancybox-popup p {
    margin: 1em 2em; }

.cake-sql-log {
  margin-top: 2em;
  background-color: #996666; }
  .cake-sql-log caption {
    color: #996666; }
